{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landing Page Template</title>
  <link rel="shortcut icon" href="{% static 'public/static/image/app.png'%}" type="image/x-icon" />
  <!-- Bootstrap , fonts & icons  -->
  <link rel="stylesheet" href="{% static '/public/static/css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static '/public/static/fonts/icon-font/css/style.css'%}" />
  <link rel="stylesheet" href="{% static '/public/static/fonts/typography-font/typo.css' %}" />
  <link rel="stylesheet" href="{% static '/public/static/fonts/fontawesome-5/css/all.css' %}" />
  <!-- Pluginstylesheets  -->
  <link rel="stylesheet" href="{% static '/public/static/plugins/aos/aos.min.css' %}" />
  <link rel="stylesheet" href="{% static '/public/static/plugins/fancybox/jquery.fancybox.min.css' %}" />
  <link rel="stylesheet" href="{% static '/public/static/plugins/nice-select/nice-select.min.css' %}" />
  <link rel="stylesheet" href="{% static '/public/static/plugins/slick/slick.min.css' %}" />
  <link rel="stylesheet" href="{% static '/public/static/plugins/ui-range-slider/jquery-ui.css' %}" />
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet" href="{% static '/public/static/css/main.css' %} " />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>


  <header
    class="site-header site-header--menu-right dynamic-sticky-bg py-7 py-lg-0 site-header--absolute site-header--sticky">
    <div class="container">
    </div>
  </header>


  {% block css %}
  <style>
    button:focus {
      outline: 1px dotted !important;
      outline: 5px auto var(--easy) !important;
      outline-color: var(--easy) !important;
    }
  </style>

  {% endblock css %}
  <!-- Custom stylesheet -->
</head>


<body>
  {% block content %}


  {% endblock content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/date-fns@2.30.0/index.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- <script src="{% static 'public/static/js/vendor.min.js' %}"></script>
  <script src="{% static 'public/static/plugins/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'public/static/plugins/nice-select/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'public/static/plugins/aos/aos.min.js' %}"></script>
  <script src="{% static 'public/static/plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'public/static/plugins/counter-up/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'public/static/plugins/counter-up/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'public/static/plugins/ui-range-slider/jquery-ui.js' %}"></script>
  <script src="{% static 'public/static/js/custom.js' %}"></script> -->

  {% block js %}

  <script>
    new Vue({

      el: "#app",
      delimiters: ['[[', ']]'],
      data: {
        showElement: false
      },
      mounted() {
        this.method_prueba()
      },
      methods: {
        method_prueba() {
          console.log("Hola")
        },
        changeRed() {
          document.documentElement.style.setProperty('--#6db0e5', '#f71e3f')
          console.log("RED")
        },
        changeBlue() {
          document.documentElement.style.setProperty('--blue', '#4743db')
        },
        changeGreen() {
          document.documentElement.style.setProperty('--primary', 'var(--easy)')
        }
      }
    });
  </script>

  {% endblock js %}
</body>

</html>