{% extends 'partials/base.html' %}
{% load static %}


{% block css %}

<link href="{% static 'plugins/datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'plugins/datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">




{% endblock css %}
{% block content %}

<div id="app">
    <div class="row">
        <div class="col-12 col-lg-8 d-flex">
            <div class="card radius-15 w-100">
                <div class="card-header border-bottom-0">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="mb-lg-0">Perros y Gatos Perdidos</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="position: relative;">
                    <div id="chart4" style="min-height: 365px;">
                        <apexchart type="bar" :options="barChartOptions" :series="barSeries"></apexchart>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 d-flex">
            <div class="row">
                <div class="col-12">
                    <div class="card radius-15 w-100 h-50 mb-3">
                        <div class="card-body" style="position: relative;">
                            <div class="d-lg-flex align-items-center">
                                <div>
                                    <h5 class="mb-4">Mascotas Perdidas Por Comuna</h5>
                                </div>
                            </div>
                            <apexchart type="pie" :options="pieChartOptions" :series="pieSeries">
                            </apexchart>
                        </div>
                    </div>
                    <div class="col-6 col-lg-12 col-md-6">
                        <div class="card radius-15 bg-rose mb-3">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <h2 class="mb-0 text-white">{{ num_perros_perdidos }} <i
                                                class="bx bxs-up-arrow-alt font-14 text-white"></i></h2>
                                    </div>
                                    <div class="ms-auto font-35 text-white"><i class="bx bx-tachometer"></i>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0 text-white">Perros Perdidos</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-12 col-md-6">
                        <div class="card radius-15 bg-login-color">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <h2 class="mb-0 text-white">{{ num_gatos_perdidos }} <i
                                                class="bx bxs-down-arrow-alt font-14 text-white"></i></h2>
                                    </div>
                                    <div class="ms-auto font-35 text-white"><i class="bx bx-tachometer"></i></div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0 text-white">Gatos Perdidos</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}

<script type="text/javascript">
    var dogCounts = {{ dog_counts| safe }};
    var catCounts = {{ cat_counts| safe }};
    var comunasLabels = {{ comunas | safe }};
    var comunasSeries = {{ conteos | safe }};
</script>

<script>
    Vue.component('apexchart', VueApexCharts);

    new Vue({
        el: '#app',
        data: {
            barChartOptions: {
                chart: {
                    id: 'vuechart-bar'
                },
                xaxis: {
                    categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
                },
                colors: ['#ff007c', '#229D98'] // El primer color es para la primera serie (Perros), y el segundo para la segunda (Gatos)
            },
            barSeries: [{
                name: 'Perros',
                data: dogCounts
            },
            {
                name: 'Gatos',
                data: catCounts
            }],
            pieChartOptions: {
                labels: comunasLabels,
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: '200%',
                        },
                        plotOptions: {
                            pie: {
                                donut: {
                                    size: '65%',
                                }
                            }
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            },
            pieSeries: comunasSeries
        }
    });
</script>

{% endblock js %}