{% load static %}


{% block css %}

<link href="{% static 'plugins/datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'plugins/datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">


<style>
    body {
        padding: 20px;
    }

    .header {
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        margin-bottom: 20px;
    }

    th,
    td {
        padding: 8px;
        border: 1px solid black;
    }

    .table th,
    .table td {
        border-top: none;
    }

    .table-bordered {
        border: 1px solid black;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid black;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid black;
    }

    .footer {
        margin-top: 20px;
    }

    .footer p {
        text-align: right;
    }

    .footer .signature {
        margin-top: 60px;
    }
</style>

{% endblock css %}
{% block content %}

<div id="app">
    <div class="container-fluid">
        <div class="header text-center">
            <h1>INFORME MÉDICO VETERINARIO</h1>
        </div>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Nombre de la Mascota: [[ fichaMedica['Nombre Mascota'] ]]</td>
                    <td></td>
                    <td>Fecha: [[ fichaMedica['Fecha'] ]]</td>
                </tr>
                <tr>
                    <td>Tipo de Animal: [[ fichaMedica['Tipo Animal'] ]]</td>
                    <td></td>
                    <td>Edad: [[ fichaMedica['Edad'] ]]</td>
                </tr>
                <tr>
                    <td>Propietario: [[ fichaMedica['Propietario'] ]]</td>
                    <td></td>
                    <td>Telefono: [[ fichaMedica['Telefono'] ]]</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th>TRATAMIENTO Y RECOMENDACIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>[[ fichaMedica['Diagnostico'] ]]</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}


{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            fichaId: null,
            fichaMedica: {},
            datosCargados: false
        },
        watch: {
            datosCargados(newValue) {
                if (newValue === true) {
                    this.verificarSiImprime();
                }
            }
        },
        mounted() {
            this.fichaId = this.obtenerFichaIdDesdeURL();
            if (this.fichaId) {
                this.cargarDatosFichaMedica();
            }
            console.log(this.fichaId)
            this.verificarSiImprime();
        },
        methods: {
            obtenerFichaIdDesdeURL() {
                const queryParams = new URLSearchParams(window.location.search);
                return queryParams.get('id');
            },
            cargarDatosFichaMedica() {
                axios.get(`/api/detalle_ficha_medica/${this.fichaId}`)
                    .then(response => {
                        this.fichaMedica = response.data;
                        this.datosCargados = true; // Actualizar estado
                    })
                    .catch(error => {
                        console.error('Error al cargar la ficha médica:', error);
                    });
            },
            verificarSiImprime() {
                const queryParams = new URLSearchParams(window.location.search);
                const debeImprimir = queryParams.get('print');
                if (debeImprimir === 'true' && this.datosCargados) {
                    // Esperar un par de segundos para asegurar que todo está renderizado
                    setTimeout(() => {
                        window.print();
                    }, 2000); // Esperar 2 segundos
                }
            }
        }
    });

</script>



{% endblock js %}