{% extends 'partials/base.html' %}
{% load static %}


{% block css %}

<link href="{% static 'plugins/datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'plugins/datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<style>
    /* Estilo para la publicación */
    .post {
        border: 1px solid #ccc;
        max-width: 450px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        /* Reduzca el margen inferior para reducir el espacio en blanco */
    }

    /* Estilo para la descripción */
    .description {
        margin-bottom: 10px;
    }

    /* Estilo para la imagen */
    .post img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        max-height: auto;

        /* Añade estilos para asegurarte de que la imagen no se desborde del contenedor */
        object-fit: cover;
        width: auto;
        height: 100%;
        background-color: transparent;
        /* Fondo transparente */
    }


    /* Estilo para los comentarios */
    .comments {
        border-top: 1px solid #ccc;
        margin-top: 10px;
        padding-top: 10px;
    }

    /* Estilo para cada comentario */
    .comment {
        margin-bottom: 10px;
    }

    .sticky-suggestions {
        position: sticky;
        top: 20px;
        /* Ajusta la distancia desde la parte superior según tu preferencia */
    }

    .comment-input-container {
        display: flex;
        /* Hace que los elementos internos se coloquen en línea */
        align-items: center;
        /* Centra verticalmente los elementos */
    }

    .comment-input {
        flex: 1;
        /* Hace que el input ocupe todo el espacio disponible */
        margin-right: 15px;
        /* Agrega un pequeño espacio entre el input y el botón */
        padding-right: 10rem;
    }

    .btn-sm {
        /* Puedes ajustar el tamaño del botón según tus preferencias */
        padding: 5px 10px;
        font-size: 14px;
        height: 32px !important;
    }

    .form-control {
        padding: 0;
    }

    .full-content {
        display: none;
    }

    .show-less {
        display: none;
    }
</style>
{% endblock css %}
{% block content %}

<div id="app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="post">
                    <img src="{% static 'images/abby.jpeg' %}" alt="Imagen de la publicación">
                    <div class="description mt-2">
                        <div class="full-content">
                            Estamos desesperados por encontrar a nuestro querido gato, que responde al nombre de "Milo".
                            Milo desapareció el [fecha de desaparición] y no ha regresado desde entonces. Es un miembro
                            muy
                            querido de nuestra familia y estamos muy preocupados por su seguridad y bienestar.

                            Información del Gato:

                            Nombre: Milo
                            Edad: 3 años
                            Raza: Gato doméstico de pelo largo
                            Color: Mayoritariamente blanco con manchas atigradas en gris y naranja
                            Características Especiales: Tiene un pequeño lunar en la oreja izquierda y un collar azul
                            con
                            una etiqueta de identificación con nuestro número de teléfono.
                        </div>
                        <div class="short-content">
                            Estamos desesperados por encontrar a nuestro querido gato, que responde al nombre de "Milo".
                        </div>
                        <a class="show-more">Ver más</a>
                        <a class="show-less">Ver menos</a>
                    </div>
                    <div class="comments">
                        <div class="comment">
                            <a href=""><strong>Ver todos los comentarios</strong></a>
                        </div>
                        <!-- Puedes agregar más comentarios aquí -->

                        <!-- Formulario para agregar un comentario -->
                        <form class="comment-form">
                            {% csrf_token %}
                            <div class="comment-input-container">
                                <input class="form-control" type="text" class="comment-input" name="comentario"
                                    placeholder="Agrega un comentario..." required>
                                <div>
                                    <button class="btn btn-primary btn-sm" type="submit">Comentar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <div class="post">
                    <img src="{% static 'images/Imagotipo 2.png' %}" alt="Imagen de la publicación">
                    <div class="description">
                        <strong>Usuario1:</strong> Descripción de la publicación.
                    </div>
                    <div class="comments">
                        <div class="comment">
                            <strong>Usuario1:</strong> ¡Qué foto increíble!
                        </div>
                        <div class="comment">
                            <strong>Usuario2:</strong> Me encanta este lugar.
                        </div>
                        <!-- Puedes agregar más comentarios aquí -->
                    </div>
                </div>
                <br>
                <div class="post">
                    <img src="{% static 'images/Imagotipo 2.png' %}" alt="Imagen de la publicación">
                    <div class="description">
                        <strong>Usuario1:</strong> Descripción de la publicación.
                    </div>
                    <div class="comments">
                        <div class="comment">
                            <strong>Usuario1:</strong> ¡Qué foto increíble!
                        </div>
                        <div class="comment">
                            <strong>Usuario2:</strong> Me encanta este lugar.
                        </div>
                        <!-- Puedes agregar más comentarios aquí -->
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="suggestions">
                <!-- Lista de sugerencias -->
                <h5>Sugerencias para ti </h5>
                <ul>
                    <li>
                        <img src="{% static 'images/avatar1.jpg' %}" alt="Avatar de usuario">
                        <span>Usuario1</span>
                    </li>
                    <li>
                        <img src="{% static 'images/avatar2.jpg' %}" alt="Avatar de usuario">
                        <span>Usuario2</span>
                    </li>
                    <!-- Agrega más sugerencias aquí -->
                </ul>
            </div>
        </div>
    </div>
</div>



{% endblock content %}


{% block js %}
<script>
    const suggestions = document.getElementById('suggestions');
    suggestions.classList.add('sticky-suggestions');
</script>
<script>
    $(document).ready(function () {
        $('.show-more').click(function () {
            $('.short-content').hide();
            $('.full-content').show();
            $('.show-more').hide();
            $('.show-less').show();
        });

        $('.show-less').click(function () {
            $('.full-content').hide();
            $('.short-content').show();
            $('.show-less').hide();
            $('.show-more').show();
        });
    });
</script>

{% endblock js %}