{% extends 'partials/base.html' %}
{% load static %}


{% block css %}

<link href="{% static 'plugins/datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'plugins/datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<style>
    /* Estilo para la publicación */
    .post {
        border: 1px solid #ccc;
        max-width: 450px;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        /* Reduzca el margen inferior para reducir el espacio en blanco */
    }

    /* Estilo para la descripción */
    .description {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Estilo para la imagen */
    .post img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        max-height: auto;
    }


    /* Estilo para los comentarios */
    .comments {
        border-top: 1px solid #ccc;
        margin-top: 10px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    /* Estilo para cada comentario */
    .comment {
        margin-bottom: 10px;
    }

    .sticky-suggestions {
        position: sticky;
        top: 20px;
        /* Ajusta la distancia desde la parte superior según tu preferencia */
    }

    .comment-input-container {
        display: flex;
        /* Hace que los elementos internos se coloquen en línea */
        align-items: center;
        /* Centra verticalmente los elementos */
    }

    .comment-input {
        flex: 1;
        /* Hace que el input ocupe todo el espacio disponible */
        margin-right: 15px;
        /* Agrega un pequeño espacio entre el input y el botón */
        padding-right: 10rem;
    }

    .btn-sm {
        /* Puedes ajustar el tamaño del botón según tus preferencias */
        padding: 5px 10px;
        font-size: 14px;
        height: 32px !important;
    }

    .form-control {
        padding: 0;
    }

    .full-content {
        display: none;
    }

    .show-less {
        display: none;
    }
</style>
{% endblock css %}
{% block content %}

<div id="app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8" v-for="publicacion in datapublicaciones" :key="publicacion.id">
                <div class="post">
                    <img :src="publicacion.foto_mascota" class="card-img-top" alt="Imagen de la publicación">
                    <div class="description mt-2">
                        <div class="full-content">
                            [[publicacion.descripcion]]
                        </div>
                        <div class="short-content">
                            [[ publicacion.descripcion ]]
                        </div>
                        <a class="show-more">Ver más</a>
                        <a class="show-less">Ver menos</a>
                    </div>
                    <div class="comments">
                        <div class="comment">
                            <a href=""><strong>Ver todos los comentarios</strong></a>
                        </div>
                        <!-- Puedes agregar más comentarios aquí -->

                        <!-- Formulario para agregar un comentario -->
                        <form class="comment-form">
                            {% csrf_token %}
                            <div class="comment-input-container">
                                <input class="form-control" type="text" class="comment-input" name="comentario"
                                    placeholder="Agrega un comentario..." required>
                                <div>
                                    <button class="btn btn-primary btn-sm" type="submit">Comentar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-4" id="suggestions">
                <h5>Sugerencias para ti </h5>
                <ul>
                    <li>
                        <img src="{% static 'images/avatar1.jpg' %}" alt="Avatar de usuario">
                        <span>Usuario1</span>
                    </li>
                    <li>
                        <img src="{% static 'images/avatar2.jpg' %}" alt="Avatar de usuario">
                        <span>Usuario2</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="nueva_publicacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crea una nueva publicación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div v-show="alert" class="alert alert-danger" role="alert">
                            [[mensaje]]
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="" class="control-label">Tipo de publicación </label>
                                <input type="text" maxlength="99" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="" class="control-label">Color: </label>
                                <input type="text" maxlength="99" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="" class="control-label">Tipo de animal: </label>
                                <input type="password" maxlength="99" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="" class="control-label">Imagen referencia: </label>
                                        <input type="file" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" data-bs-target="#nuevo_usuario" class="btn btn-primary">Crear</button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}


{% block js %}
<!-- <script>
    const suggestions = document.getElementById('suggestions');
    suggestions.classList.add('sticky-suggestions');
</script> -->
<script>
    $(document).ready(function () {
        $('.show-more').click(function () {
            $('.short-content').hide();
            $('.full-content').show();
            $('.show-more').hide();
            $('.show-less').show();
        });

        $('.show-less').click(function () {
            $('.full-content').hide();
            $('.short-content').show();
            $('.show-less').hide();
            $('.show-more').show();
        });
    });
</script>

<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            mensaje: "Por favor completa el campo",
            alert: false,
            datapublicaciones: [],
            publicacion_id: "",
        },
        mounted() {
            this.Getpublicacionesall();
        },
        methods: {
            Getpublicacionesall() {
                axios.get("/api/get_allpublicaciones").then((response) => {
                    this.datapublicaciones = response.data
                    console.log(response.data)
                    console.log(this.datapublicaciones)
                })
            }
        },
    })
</script>

{% endblock js %}