{% extends 'partials/base.html' %}
{% load static %}


{% block css %}

<link href="{% static 'plugins/datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'plugins/datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">


{% endblock css %}
{% block content %}

<div id="app">
    <div class="email-header d-xl-flex">
        <div class="d-flex align-items-center">
            <div class="">
                <button type="button" class="btn btn-white ms-2"><i class="bx bx-refresh me-0"></i>
                </button>
            </div>
            <div>
                <input type="file" @change="onFileChange">
                <button @click="submitImage">Subir Imagen</button>
            </div>
        </div>
        <div class="flex-grow-1 mx-xl-2 my-2 my-xl-0">
            <div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bx-search"></i></span>
                <input type="text" class="form-control" placeholder="Buscar Notificacion">
            </div>
        </div>
    </div>
    <div class="email-content">
        <div class="">
            <div class="email-list ps ps--active-y">
                <a>
                    <div class="d-md-flex align-items-center email-message px-3 py-1" v-for="similitud in similitudes"
                        :key="similitud.mascota_id">
                        <div class="d-flex align-items-center email-actions">
                            <input class="form-check-input" type="checkbox" value=""> <i class="font-20 mx-2"></i>
                            <p class="mb-0"><b>Coincidencia</b>
                            </p>
                        </div>
                        <div class="">
                            <p class="mb-0">Se encontró una coincidencia del {{ similitud.similitud }}% con la mascota
                                ID {{ similitud.mascota_id }}</p>
                        </div>
                        <div class="ms-auto">
                            <p class="mb-0 email-time">5:56 PM</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock content %}


{% block js %}

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                selectedFile: null,
                similitudes: []
            }
        },
        mounted() {
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            axios.defaults.headers.common['X-CSRFToken'] = csrfToken;
            this.cargarSimilitudes(mascotaId);
        },
        methods: {
            onFileChange(e) {
                this.selectedFile = e.target.files[0];
            },
            submitImage() {
                if (!this.selectedFile) {
                    alert("Por favor, selecciona una imagen.");
                    return;
                }

                const formData = new FormData();
                formData.append('foto', this.selectedFile);

                axios.post('/api/reconocer', formData)
                    .then(response => {
                        console.log(response.data);
                        alert("Imagen procesada correctamente.");
                        const mascotaId = response.data.mascota_id;
                        this.cargarSimilitudes(mascotaId);
                    })
                    .catch(error => {
                        console.error("Error al procesar la imagen:", error);
                        alert("Error al procesar la imagen.");
                    });
            },
            cargarSimilitudes(mascotaId) {
                axios.get(`/api/similitudes/${mascotaId}/`)
                    .then(response => {
                        this.similitudes = response.data.similitudes;
                    })
                    .catch(error => {
                        console.error("Error al cargar similitudes:", error);
                    });
            }
        }
    });
</script>



{% endblock js %}