{% extends 'partials/base.html' %}
{% load static %}


{% block css %}

<link href="{% static 'plugins/datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'plugins/datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">


{% endblock css %}
{% block content %}

<div id="app">
    <div class="email-header d-xl-flex">
        <div class="d-flex align-items-center">
            <div class="">
                <button type="button" class="btn btn-white ms-2"><i class="bx bx-refresh me-0"></i>
                </button>
            </div>
        </div>
        <div class="flex-grow-1 mx-xl-2 my-2 my-xl-0">
            <div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bx-search"></i></span>
                <input type="text" class="form-control" placeholder="Buscar Notificacion">
            </div>
        </div>
    </div>
    <div class="email-content">
        <div class="">
            <div class="email-list ps ps--active-y">
                <a v-for="(similitud, index) in similitudes" :key="index">
                    <div class="d-md-flex align-items-center email-message px-3 py-1">
                        <div class="d-flex align-items-center email-actions">
                            <input class="form-check-input" type="checkbox" :value="index">
                            <i class="font-20 mx-2"></i>
                            <p class="mb-0"><b>Coincidencia: {{ similitud.similitud }}%</b></p>
                        </div>
                        <div class="">
                            <p class="mb-0">Se encontró una coincidencia del {{ similitud.similitud }}% con la
                                publicación ID {{ similitud.publicacion_id }}</p>
                        </div>
                        <div class="ms-auto">
                            <p class="mb-0 email-time">5:56 PM</p>
                            <!-- Aquí puedes poner una hora real si es relevante -->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock content %}


{% block js %}

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                similitudes: [],
            }
        },
        mounted() {
            this.obtenerSimilitudes();
        },
        methods: {
            obtenerSimilitudes() {
                axios.get('/api/reconocer')
                    .then(response => {
                        this.similitudes = response.data.similitudes;
                    })
                    .catch(error => {
                        console.error("Error al obtener similitudes:", error);
                    });
            },
        }
    });
</script>



{% endblock js %}