{% extends 'partials/base.html' %}
{% load static %}


{% block css %}

<link href="{% static 'plugins/datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'plugins/datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">

<style>
    .comments {
        border-top: 1px solid #ccc;
        margin-top: 10px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    /* Estilo para cada comentario */
    .comment {
        margin-bottom: 10px;
    }
</style>

{% endblock css %}
{% block content %}

<div id="app">
    <div class="email-header d-xl-flex">
        <div class="d-flex align-items-center">
            <div class="">
                <button type="button" class="btn btn-white ms-2"><i class="bx bx-refresh me-0"></i>
                </button>
            </div>
        </div>
        <div class="flex-grow-1 mx-xl-2 my-2 my-xl-0">
            <div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bx-search"></i></span>
                <input type="text" class="form-control" placeholder="Buscar Notificacion">
            </div>
        </div>
    </div>
    <div class="email-content">
        <div class="">
            <div class="email-list ps ps--active-y">
                <a v-for="(similitud, index) in similitudes" :key="index" @click="abrirModal(similitud.publicacion_id)">
                    <div class="d-md-flex align-items-center email-message px-3 py-1">
                        <div class="d-flex align-items-center email-actions">
                            <input class="form-check-input" type="checkbox" :value="index">
                            <i class="font-20 mx-2"></i>
                            <p class="mb-0"><b>Coincidencia</b></p>
                        </div>
                        <div class="">
                            <p class="mb-0">Se encontró una coincidencia del [[ similitud.similitud.toFixed(2) ]]% con
                                la
                                publicación subida por : [[similitud.usuario]]</p>
                        </div>
                        <div class="ms-auto">
                            <p class="mb-0 email-time">[[formatearFecha(similitud.fecha)]]</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="modal fade" id="ver_publicacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card-container">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-flex">
                                    <div class="card shadow-sm radius-15 border rounded-3 mb-3"
                                        v-if="publicacionSeleccionada" style="max-width: 600px;">
                                        <div class=" card-body p-3">
                                            <div class="d-flex align-items-center">
                                                <img src="{% static 'images/icons/user.png' %}" alt="image"
                                                    class="rounded-circle me-3" style="width: 40px;">
                                                <div>
                                                    <h6 class="fw-bold mb-0">
                                                        [[publicacionSeleccionada.usuario.first_name]]
                                                        [[publicacionSeleccionada.usuario.last_name]]</h6>
                                                    <p class="text-muted mb-0">
                                                        [[publicacionSeleccionada.usuario.comuna]]
                                                    </p>
                                                    <p class="text-muted mb-0">
                                                        [[formatearFecha(publicacionSeleccionada.fecha)]]
                                                    </p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="mb-3">
                                                <a>
                                                    <img :src="publicacionSeleccionada.foto_mascota"
                                                        class="card-img-top" alt="Imagen de la publicación"
                                                        style="max-width: 400px; max-height: 400px;">
                                                </a>
                                            </div>
                                            <hr>
                                            <p class="fw-normal text-muted mb-2">[[publicacionSeleccionada.descripcion]]
                                            </p>
                                            <div>
                                                <div class="comments">
                                                    <div class="comment"
                                                        v-for="comentario in publicacionSeleccionada.comentarios"
                                                        :key="comentario.id">
                                                        [[comentario.usuario.first_name]]
                                                        [[comentario.usuario.last_name]]: [[comentario.comentario]]
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4" style="padding-top: 170px; padding-left: 15px;">
                                <div class="card shadow-sm radius-15" v-if="publicacionSeleccionada">
                                    <div class="card-body">
                                        <h5 class="card-title">Datos de Publicación</h5>
                                        <p class="card-text">
                                            <strong>Nombre:</strong>
                                            <span>[[publicacionSeleccionada.usuario.first_name]]
                                                [[publicacionSeleccionada.usuario.last_name]]
                                            </span>
                                        </p>
                                        <p class="card-text">
                                            <strong>Comuna:</strong>
                                            <span>[[publicacionSeleccionada.usuario.comuna]]</span>
                                        </p>
                                        <p class="card-text">
                                            <strong>Dirección:</strong>
                                            <span>[[publicacionSeleccionada.usuario.direccion]]</span>
                                        </p>
                                        <p class="card-text">
                                            <strong>Teléfono:</strong>
                                            <span>[[publicacionSeleccionada.usuario.telefono]]</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block js %}

<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                similitudes: [],
                publicacionSeleccionada: {
                    usuario: {},
                    descripcion: '',
                    fecha: '',
                    foto_mascota: '',
                    comentarios: [{ "id": 1, "comentario": "aaaa", "usuario": { "first_name": "Matías", "last_name": "davis" } }]
                },
                nuevo_comentario: {
                    comentario: ''
                },
            }
        },
        mounted() {
            this.obtenerSimilitudes();
        },
        methods: {
            obtenerSimilitudes() {
                axios.get('/api/reconocer')
                    .then(response => {
                        this.similitudes = response.data.similitudes;
                        if (this.similitudes.length > 0) {
                            console.log("Publicacion ID:", this.similitudes[0].publicacion_id);
                        } else {
                            console.log("No hay similitudes para mostrar");
                        }
                    })
                    .catch(error => {
                        console.error("Error al obtener similitudes:", error);
                    });
            },
            formatearFecha(fecha) {
                const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
                let fechaObj = new Date(fecha);
                let mes = meses[fechaObj.getMonth()];
                let dia = fechaObj.getDate();
                let año = fechaObj.getFullYear();
                return `${mes} ${dia}, ${año}`;
            },
            abrirModal(publicacionId) {
                axios.get('/api/publicacion/' + publicacionId)
                    .then(response => {
                        this.publicacionSeleccionada = response.data.publicacion;
                        this.publicacionSeleccionada.comentarios = response.data.comentarios;

                        var myModal = new bootstrap.Modal(document.getElementById('ver_publicacion'));
                        myModal.show();
                    })
                    .catch(error => {
                        console.error("Error al obtener la publicación y los comentarios:", error);
                    });
            }
        }
    });
</script>



{% endblock js %}