{% extends 'partials/base.html' %}
{% load static %}


{% block css %}

<link href="{% static 'plugins/datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'plugins/datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">

<style>
    .iframe {
        position: relative;
        width: 100%;
        padding-bottom: 75%;
        /* Puedes ajustar este valor para controlar la relación de aspecto (aspect ratio) */
        overflow: hidden;
    }

    .iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

{% endblock css %}
{% block content %}

<div id="app">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.039707144202!2d-70.7064937!3d-33.60427419999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d94841c7667b%3A0xb4fa4b39deaca84e!2sMaestranza%2C%20San%20Bernardo%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1695429591629!5m2!1ses!2scl"
        width="1135" height="550" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


{% endblock content %}


{% block js %}

{% endblock js %}